body {
    font-family: Verdana;
    text-align: center;
}

#myButton {
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 10px;
}

.labels {
    display: block;
    font-size: 3em;
    color: rgb(0, 62, 42);
}

#totalLabel {
    display: none;
    font-size: 5em;
    color: rgb(223, 16, 1);
    background-color: rgb(186, 167, 167);
    padding: 3px 18px;
    border-radius: 10px;
}